# Directorios de entornos virtuales
venv/
.env

# Archivos de caché y de compilación de Django
__pycache__/
*.pyc
media/

# Archivos de configuración de Django
local_settings.py

# Directorios y archivos de Node.js (React)
node_modules/
build/
.cache/
.DS_Store

# Archivos de registro y de sistema
.vscode/
.idea/
npm-debug.log