# Django y DRF
Django==4.2.7
djangorestframework==3.14.0

# Documentación de API moderna (compatible con Python 3.12)
drf-spectacular==0.27.0

# CORS para frontend
django-cors-headers==4.3.1

# Utilidades adicionales
Pillow==10.1.0

# vbenitezz
djangorestframework-simplejwt


faker==25.9.1